@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

@import "tailwindcss";

@theme {
  --tw-border-color: rgba(209, 213, 219, 1);
}

@layer base {
  * {
    border-color: var(--tw-border-color);
  }
}

.prata_regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: Outfit;
}

a.active hr {
  display: block;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

::-webkit-scrollbar {
  display: none;
}
